@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&display=swap');
.widget-wrapper {
    &.fixed {
        position: fixed;
        top: 10px;
        left: 10px;
        &[class*="bottom"] {
            top: auto;
            bottom: 10px;
        }
        &[class*=center] {
            left: 50%;
            transform: translate(-50%, 0);
        }
        &[class*=right] {
            left: auto;
            right: 10px;
        }
    }
    .dismiss-widget {
        position: absolute;
        width: 16px;
        height: 16px;
        background: #181818;
        color: #fff;
        border-radius: 50%;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 15px;
        line-height: 0px;
        cursor: pointer;
        transform: translateX(5px) translateY(-5px);
    }
    &.mobile-mode {
        .dismiss-widget {
            display: none;
        }
    }
    &.dark {
        .dismiss-widget {
            background-color: #999;
        }
    }
}

.widget {
    background-color: #fff;
    padding: 6px;
    display: flex;
    width: auto;
    border: 1px solid #ddd;
    overflow: hidden;
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    transition: all ease 0.4s;
}


/**
 * Rounded borders
 */

.rounded .widget {
    border-radius: 8px;
}


/**
 * Oval shape
 */

.oval .widget {
    border-radius: 4em 4em 4em;
}


/**
 * Detached
 */

.detached .widget {
    height: auto;
    border: none;
    box-shadow: none;
    background: transparent;
}

.widget.closed {
    opacity: 0.8;
    transition: all ease 0.4s;
    cursor: pointer;
}

.widget.closed:hover {
    opacity: 1;
}

.widget-image {
    margin-right: 1rem;
    transition: all ease 0.4s;
}

.widget-image img {
    display: block;
}

.widget-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-around;
    margin-right: 2rem;
    font-family: 'Dosis', sans-serif;
    white-space: nowrap;
    opacity: 1;
    transition: all ease 0.4s;
    max-width: 400px;
}

.widget.closed .widget-image {
    margin: 0;
    transition: all ease 0.4s;
}

.widget.closed .widget-text {
    opacity: 0;
    margin: 0;
    transition: all ease 0.4s;
    max-width: 0;
}

.widget-text p {
    color: #999;
}

.widget-text span {
    color: #3a3a3a;
}

.widget-action,
.widget-action span {
    color: #3A86FF;
    cursor: pointer;
}


/**
 * Dark mode
 */

.dark .widget {
    background-color: #181818;
}

.dark .widget .widget-text span {
    color: #ccc;
}

.dark .widget .widget-text strong {
    color: #fff;
}


/**
 * Rounded borders
 */

.rounded .widget .widget-image img {
    border-radius: 8px;
}


/**
 * Oval shape
 */

.oval .widget .widget-image img {
    border-radius: 4em;
}


/**
 * Detached
 */

.detached .widget .widget-image {
    margin-right: 0.5rem;
}

.detached .widget .widget-image img {
    width: 76px;
    border-radius: 8px;
}

.detached .widget .widget-text {
    box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
    padding: 10px 15px;
    margin-right: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.detached.dark .widget {
    background: transparent;
}

.detached .widget.closed {
    max-width: 76px;
}

.detached.dark .widget .widget-text {
    background-color: #181818;
}

.widget-wrapper.widget-top-banner {
    top: 0;
    left: 0;
    right: 0;
    max-height: 36px;
    overflow: hidden;

    .widget {
        padding: 5px 0;
    }

    .widget-text {
        width: 100%;
        max-width: 100%;
        margin-right: 0;
        flex-direction: row;

        p {
            margin: 0;
        }

        span {
            font-size: 18px;
        }

        img {
            height: 35px;
            margin-left: 5px;
            margin-top: -10px;
            margin-bottom: -10px;
        }

        img.layout2-img-black {
            display: none;
        }
    }

    .widget-action {
        right: 50px;
        position: absolute;
    }

    .dismiss-widget {
        width: 60px;
        height: 35px;
        color: black;
        font-size: 20px;
        transform: none;
        background: transparent;
    }

    &.mobile-mode {
        .dismiss-widget {
            display: none;
        }
    }

    &.dark, &.color {
        .widget-action, .dismiss-widget, .widget-action span {
            color: white;
        }

        img.layout2-img-black {
            display: inline;
        }

        img.layout2-img-white {
            display: none;
        }
    }

    &.dark {
        .layout2-img-white {
            display: none;
        }
    }

    &.color {
        .widget {
            background: linear-gradient(90deg, #42BE65 0%, #FFFFFF 50.23%, #FF4842 100%);
        }
    }
}